* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

body {
    min-height: 100dvh;
}

#first {
    position: relative;
    height: 909px;
    width: 100%;
    overflow: hidden;
    background-color: #15171D;
}

#first_h1_1 {
    position: absolute;
    left: 7%;
    top: 3.41%;
    color: white;
    font-size: 26px;
}

#first_h1_1_second {
    position: absolute;
    left: 12%;
    top: 3.41%;
    color: #FFC761;
    font-size: 26px;
}

#first_p1,
#first_p2,
#first_p3,
#first_p4 {
    position: absolute;
    top: 3.96%;
    font-size: 14px;
    color: white;
}

#first_p1 {
    left: 67.5%;
}

#first_p2 {
    left: 76.19%;
}

#first_p3 {
    left: 82.125%;
}

#first_p4 {
    left: 90.5%;
}

#h1_2 {
    position: absolute;
    left: 6.94%;
    top: 26.73%;
    color: #FFC761;
    font-size: 14px;
}

#first_h1_3 {
    position: absolute;
    left: 7.125%;
    top: 31.9%;
    font-size: 76px;
    color: white;
    width: 656px;
}

#first_p5 {
    position: absolute;
    left: 6.94%;
    top: 70%;
    font-size: 19.75px;
    color: white;
    width: 537px;
}

#btn1,
#btn2 {
    position: absolute;
    top: 80%;
    height: 6.38%;
    border-radius: 29px;
}

#btn1 {
    left: 6.94%;
    width: 11.31%;
    background-color: #FFC761;
}

#btn2 {
    left: 19.44%;
    width: 11.69%;
    background-color: transparent;
    border-color: #d9d9d9;
    color: white;
}

#img1 {
    position: absolute;
    left: 52.375%;
    top: 20.13%;
    width: 40.75%;
    height: 68.2%;
    border-radius: 71px;
}

#second {
    position: relative;
    width: 100%;
    height: 447px;
    background-color: #0d1017;
}

#second_elem1,
#second_elem2,
#second_elem3 {
    position: absolute;
    top: 40.27%;
    width: 23.25%;
    height: 35.35%;
    background-color: #181A21;
    border-radius: 33px;
}

#second_elem1 {
    left: 13.94%;
}

#second_elem2 {
    left: 38.38%;
}

#second_elem3 {
    left: 62.81%;
}

.second_h1 {
    position: absolute;
    left: 9.95%;
    top: 24.36%;
    font-size: 42px;
    color: #FFC761;
}

.second_p {
    position: absolute;
    left: 9.95%;
    top: 63.64%;
    font-size: 16px;
    color: white;
}

#third {
    position: relative;
    width: 100%;
    height: 723px;
    background-color: #0D1017;
}

#third_h1_1 {
    position: absolute;
    left: 44.75%;
    top: 0px;
    font-size: 22px;
    color: #FFC761;
    width: 166px;
    text-align: center;
}

#third_h1_2 {
    position: absolute;
    left: 29.44%;
    top: 6.64%;
    font-size: 50px;
    color: white;
    width: 658px;
    text-align: center;
}

.third_elems {
    position: absolute;
    top: 31.95%;
    width: 20.44%;
    height: 37.48%;
    background-color: #151A24;
    border-radius: 33px;
    color: white;
}

#third_elem1 {
    position: absolute;
    left: 7.125%;
}

#third_elem2 {
    position: absolute;
    left: 28.81%;
}

#third_elem3 {
    position: absolute;
    left: 50.69%;
}

#third_elem4 {
    position: absolute;
    left: 72.56%;
}

.third_elems_h1_1 {
    position: absolute;
    left: 9.17%;
    top: 12.18%;
    font-size: 16px;
    color: #FFC761;
}

.third_elems_h1_2 {
    position: absolute;
    left: 9.17%;
    top: 27.31%;
    font-size: 22px;
}

.third_elems_p {
    position: absolute;
    left: 9.17%;
    top: 45.76%;
    font-size: 16.93px;
}

#fourth {
    position: relative;
    width: 100%;
    height: 410px;
    background-color: #0D1017;
}

#fourth_elem1 {
    position: relative;
    left: 6.94%;
    top: 0px;
    width: 86.06%;
    height: 100%;
    overflow: hidden;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 47px;
}

#fourth_h1_1 {
    position: absolute;
    left: 4.34%;
    top: 14.88%;
    font-size: 16px;
    color: #FFC761;
}

#fourth_h1_2 {
    position: absolute;
    left: 4.64%;
    top: 28.54%;
    font-size: 50px;
    color: white;
    width: 571px;
}

#fourth_p1 {
    position: absolute;
    left: 4.34%;
    top: 61.71%;
    font-size: 17px;
    color: white;
    width: 550px;
}

.fourth_elems {
    position: absolute;
    left: 50%;
    width: 39.8%;
    height: 14.63%;
    border-radius: 20px;
    background-color: #242933;
}

#fourth_elem1_1 {
    top: 14.15%;
}

#fourth_elem1_2 {
    top: 32.93%;
}

#fourth_elem1_3 {
    top: 51.71%;
}

#fourth_elem1_4 {
    top: 70.98%;
}
.fourth_elems_p{
    display: flex;    
    padding-left: 10px;
    align-items: center;
    height: 100%;
}
#fivth{
    position: relative;
    width: 100%;
    height: 821px;
    background-color: #0D1017;
}
#fivth_elem1{
    position: absolute;
    left: 14.625%;
    top: 6.82%;
    width: 20.75%;
    height: 75.34%;
    border: 13px solid #252C3A;
    border-radius: 47px;
    background-color: #0E131E;
}
#fivth_square{
    position: absolute;
    left: 34.94%;
    top: 10.78%;
    width: 30.12%;
    height: 1.62%;
    border-radius: 4px;
    background-color: #1A2030;
    color: #1A2030;
    font-size: 0px;
}
.fivth_elem1_elems{
    position: absolute;
    left: 9.94%;
    width: 80.12%;
    height: 11.15%;
    border-radius: 27px;
    background-color: #1A2030;
}
#fivth_elem1_1{
    position: absolute;
    top: 19.55%;
    background-color: #FFC861;
}
#fivth_elem1_2{
    position: absolute;
    top: 33.44%;
}
#fivth_elem1_3{
    position: absolute;
    top: 47.33%;
}
.fivth_elems_p{
    display: flex;
    padding-left: 15px;
    align-items: center;
    height: 100%;
    font-size: 16px;
    color: #B8BCC5;
}
.fivth_elems_h1{
    position: absolute;
    right: 15px;
    top: 34.78%;
    font-size: 16px;
    color: #B8BCC5;
}
#black_1{
    color: black;
}
#black_2{
    color: black;
}
#fivth_p4{
    position: absolute;
    left: 47.69%;
    top: 29.6%;
    font-size: 16px;
    color: white;
}
#fivth_h1_4{
    position: absolute;
    left: 47.69%;
    top: 36.54%;
    font-size: 50px;
    width: 568px;
    color: white;
}
#fivth_p5{
    position: absolute;
    left: 47.69%;
    top: 53.23%;
    font-size: 16.5px;
    width: 593px;
    color: white;
}
#sixth{
    position: relative;
    width: 100%;
    height: 687px;
    background-color: #0D1017;
}
#sixth_elem1{
    position: absolute;
    left: 30.625%;
    top: 1.60%;
    width: 38.69%;
    height: 87.34%;
    border-radius: 48px;
    background-color: #171d2a;
}
 #sixth_h1_1{
    position: relative;
    text-align: center;
    padding-top: 9.67%;
    font-size: 16.5px;
    color: white ;
}
#sixth_h1_2{
    position: relative;
    /* text-align: center; */
    padding-top: 7.17%;
    margin-left: 21.97%;
    text-align: center;
    font-size: 50px;
    color: white;
    width: 353px;
}
#sixth_h1_3{
    position: relative;
    text-align: center;
    padding-top: 8.67%;
    font-size: 64px;
    color: #FFC861;
}
#sixth_p1{
    position: relative;
    text-align: center;
    padding-top: 12.17%;
    font-size: 20px;
    color: white;
}
#sixth_btn1{
    position: absolute;
    left: 30.53%;
    top: 80.83%;
    width: 38.93%;
    height: 9.5%;
    border-radius: 28.5px;
    background-color: #FFC761;
}
